# Aula de Pandas 2
Na última aula tivemos uma introdção de pandas  aprendmos a realizar algumas operações essenciais de limpeza, filtragem e maniplação de dados.

Nesta aula, aprenderemos:

* Como acessar nossas bases de dados utilizando os métodos Loc e iLoc;
* Aprender sobre funções agregadoras e suas funcionalidades;
* Aprender métodos úteis como groupby e pivot table;
* Explorar alguns outros métodos como merge, diff, pct_change e sift.

In [1]:
import pandas as pd

dados = pd.read_csv("books2019file.csv")

dados.head()

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
1,1,2019,How to Be an Antiracist,False,NaN
2,2,2019,Publication Manual of the American Psychologic...,True,Psychology
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides
4,4,2019,The Little Old Lady Who Was Not Afraid of Anyt...,True,Children's Short Story Collections

In [2]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1200 non-null   int64
 1   year           1200 non-null   int64
 2   title          1200 non-null   object
 3   isBestSelling  1200 non-null   bool
 4   subcategory    224 non-null    object
dtypes: bool(1), int64(2), object(2)
memory usage: 38.8+ KB

## 9.1.1 Loc e iLoc
.loc

A função loc será utilizada para localizar e acessar dados em seu dataframe a partir do nome de uma linha e/ou coluuna e retornará os valores

Ex.:dados.loc["nome da linha", "nome da coluna"]

### Selecionando apenas linhas com .loc

In [3]:
display(dados)

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
1,1,2019,How to Be an Antiracist,False,NaN
2,2,2019,Publication Manual of the American Psychologic...,True,Psychology
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides
4,4,2019,The Little Old Lady Who Was Not Afraid of Anyt...,True,Children's Short Story Collections
...,...,...,...,...,...
1195,1195,2019,National Registry Paramedic Prep,False,NaN
1196,1196,2019,Roblox: Where's the Noob?,False,NaN
1197,1197,2019,I Am Perfectly Designed,False,NaN
1198,1198,2019,Heretics of Dune,False,NaN
1199,1199,2019,Spirituality Before Religions: Spirituality is...,False,NaN

In [4]:
# Selecionando apenas linhas
#  Pode-se chamar uma linha pelo seu índice

dados.loc[0]

Unnamed: 0                                                       0
year                                                          2019
title            The Home Edit: A Guide to Organizing and Reali...
isBestSelling                                                 True
subcategory                        Do-It-Yourself Home Improvement
Name: 0, dtype: object

In [5]:
# Pode-se ainda chamar um array de  índices

dados.loc[[0, 1, 3]]

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
1,1,2019,How to Be an Antiracist,False,NaN
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides

In [6]:
# Podemos também hamar um intervalo de índices.
# Exemplo: Quais são os 5 primeiros livros

dados.loc[0 : 5]

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
1,1,2019,How to Be an Antiracist,False,NaN
2,2,2019,Publication Manual of the American Psychologic...,True,Psychology
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides
4,4,2019,The Little Old Lady Who Was Not Afraid of Anyt...,True,Children's Short Story Collections
5,5,2019,Saunders Comprehensive Review for the NCLEX-RN...,True,Nursing Reviews & Study Guides

### .set_index
Utilizando set_index para definir um índice a partir de uma coluna.

In [7]:
# Podemos achar a linha por seu valor contido.

#Primeiro ddevemos deinir uma coluna como index por meio de set_index.

dados_index = dados.set_index("title")

# Ao fazer isto "title" deixa de ser uma coluna e passar a ser um índice.
dados_index.head()

,Unnamed: 0,year,isBestSelling,subcategory
title,,,,
The Home Edit: A Guide to Organizing and Realizing Your House Goals (Includes Refrigerator Labels),0,2019,True,Do-It-Yourself Home Improvement
How to Be an Antiracist,1,2019,False,NaN
"Publication Manual of the American Psychological Association: 7th Edition, 2020 Copyright",2,2019,True,Psychology
Official SAT Study Guide 2020 Edition,3,2019,True,SAT Test Guides
The Little Old Lady Who Was Not Afraid of Anything,4,2019,True,Children's Short Story Collections

In [8]:
# Desta forma e posso buscar a linha desejada pelo Título do livro desejado, usando o .loc

dados_index.loc["How to Be an Antiracist"]

Unnamed: 0           1
year              2019
isBestSelling    False
subcategory        NaN
Name: How to Be an Antiracist, dtype: object

### Selecionando apenas colunas com .loc

In [9]:
dados.head()

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
1,1,2019,How to Be an Antiracist,False,NaN
2,2,2019,Publication Manual of the American Psychologic...,True,Psychology
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides
4,4,2019,The Little Old Lady Who Was Not Afraid of Anyt...,True,Children's Short Story Collections

In [10]:
# Selecionando apenas colunas por nomes.
# Usando a base de dados em "nome" como index.
dados.loc[: , ["year", "title",]]

# Os dois pontos significa que ele ira chamar todas as linhas das colunas definidas entre colchetes.

      year                                              title
0     2019  The Home Edit: A Guide to Organizing and Reali...
1     2019                            How to Be an Antiracist
2     2019  Publication Manual of the American Psychologic...
3     2019              Official SAT Study Guide 2020 Edition
4     2019  The Little Old Lady Who Was Not Afraid of Anyt...
...    ...                                                ...
1195  2019                   National Registry Paramedic Prep
1196  2019                          Roblox: Where's the Noob?
1197  2019                            I Am Perfectly Designed
1198  2019                                   Heretics of Dune
1199  2019  Spirituality Before Religions: Spirituality is...

[1200 rows x 2 columns]

In [11]:
display(dados_index.head())

,Unnamed: 0,year,isBestSelling,subcategory
title,,,,
The Home Edit: A Guide to Organizing and Realizing Your House Goals (Includes Refrigerator Labels),0,2019,True,Do-It-Yourself Home Improvement
How to Be an Antiracist,1,2019,False,NaN
"Publication Manual of the American Psychological Association: 7th Edition, 2020 Copyright",2,2019,True,Psychology
Official SAT Study Guide 2020 Edition,3,2019,True,SAT Test Guides
The Little Old Lady Who Was Not Afraid of Anything,4,2019,True,Children's Short Story Collections

In [12]:
# Selecionando um conjunto de linhas e colunas.

# Uma vez que "title" já foi definido como índice, podemos usar o .loc para chamar um conjunto de colunas e as linhas referentes aos títulos dos livros.

dados_index.loc[["The Home Edit: A Guide to Organizing and Realizing Your House Goals (Includes Refrigerator Labels)","How to Be an Antiracist", "Official SAT Study Guide 2020 Edition"], ["isBestSelling", "year"]]

# Nota-se que a ordem que colocar as colunas será a ordem que ira prevalecer.

                                                    isBestSelling  year
title
The Home Edit: A Guide to Organizing and Realiz...           True  2019
How to Be an Antiracist                                     False  2019
Official SAT Study Guide 2020 Edition                        True  2019

### Também tem como criar algumas condições a partir de .loc

In [13]:
# Como selecionar apenas os dados que correspondem com a condição imposta.

dados.loc[(dados["isBestSelling"]) == True]

# Neste caso ira aparecer apenas os os livros cujo o valor da coluna isBesteSelling for True

,Unnamed: 0,year,title,isBestSelling,subcategory
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True,Do-It-Yourself Home Improvement
2,2,2019,Publication Manual of the American Psychologic...,True,Psychology
3,3,2019,Official SAT Study Guide 2020 Edition,True,SAT Test Guides
4,4,2019,The Little Old Lady Who Was Not Afraid of Anyt...,True,Children's Short Story Collections
5,5,2019,Saunders Comprehensive Review for the NCLEX-RN...,True,Nursing Reviews & Study Guides
...,...,...,...,...,...
1162,1162,2019,3rd Grade Common Core Math: Daily Practice Wor...,True,Ottawa Travel Guides
1177,1177,2019,Vietnamese Food Any Day: Simple Recipes for Tr...,True,"Vietnamese Cooking, Food & Wine"
1179,1179,2019,The Ultimate Instant Pot® Cookbook for Two: Pe...,True,"Polish Cooking, Food & Wine"
1186,1186,2019,Federal Rules of Civil Procedure; 2020 Edition...,True,Paralegals & Paralegalism
1194,1194,2019,"Mediterranean Diet Cookbook: 550 Quick, Easy a...",True,Wine Cellars

### 9.1.2 Loc e iLoc

**iLoc**

Da mesma forma que a função Loc a função iLoc será utilizada para localizar e acessar dados em seu dataframe. Porém, iLoc utiliza os índices numéricos ao invés dos nomes das linhas e colunas. 

Ex:df.loc["número da linha", "número da coluna"]

In [14]:
# Selecionanddo apenas a primeira linha.
dados.iloc[0]

Unnamed: 0                                                       0
year                                                          2019
title            The Home Edit: A Guide to Organizing and Reali...
isBestSelling                                                 True
subcategory                        Do-It-Yourself Home Improvement
Name: 0, dtype: object

In [15]:
# Selecionando primeira linha e segunda coluna.

dados.iloc[0, 1]

2019

In [16]:
# Selecinando algumas linhas e colunas.
dados.iloc[[0, 1, 2, 3], [0, 1, 2, 3]]

# Na primeira lista dentro do iLoc e referente ao índice das linhas, e a segunda ao índice das colunas

,Unnamed: 0,year,title,isBestSelling
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True
1,1,2019,How to Be an Antiracist,False
2,2,2019,Publication Manual of the American Psychologic...,True
3,3,2019,Official SAT Study Guide 2020 Edition,True

In [17]:
# Com iLoc não é possível definir um intervalo como no exemplo abaixo.

dados.iloc[[0:2], [0:4]]

SyntaxError: invalid syntax (1818838927.py, line 3)

In [18]:
# No caso para que isto funcione devomos utlizar um range(n).

dados.iloc[range(2), range(4)] 

# o primeiro range se refere as linhas que iram aparecer e o segundo as colunas.

,Unnamed: 0,year,title,isBestSelling
0,0,2019,The Home Edit: A Guide to Organizing and Reali...,True
1,1,2019,How to Be an Antiracist,False

### Ao adicionar .name ao final de uma função iLoc é possível obter o nome da linha ou coluna de seu índice.

In [19]:
# df.iloc[linha, coluna]

dados.iloc[:, 3].name

'isBestSelling'

### É também possível utilizar o método .unique( ) após uma função loc ou iloc para retornar apneas valores únicos caso existam duplicatas.

In [21]:
# Utilizando a função .unique()

dados.iloc[:, 4].unique()

# neste caso a partir da coluna 4 ele ira trazer os nomes que são unico da coluna Subcategory

array(['Do-It-Yourself Home Improvement', nan, 'Psychology',
       'SAT Test Guides', "Children's Short Story Collections",
       'Nursing Reviews & Study Guides', 'Literary Graphic Novels',
       "Children's Horse Books", "Children's Art Techniques",
       "Children's Women Biographies", 'Natural Food Cooking',
       'Seasonal Crafts', "Children's Grammar Books",
       'Health Teaching Materials', 'Phonetics & Phonics Reference',
       "Children's Computer Software Books",
       'Popular & Elementary Arithmetic', "Children's Frog & Toad Books",
       'Appetizer Cooking', 'Lawyers & Criminals Humor',
       "Children's Philosophy Books", 'Minority Demographic Studies',
       "Children's Personal Hygiene Books", 'Paleo Diet',
       'Southern Fiction', 'GED Test Guides',
       "Children's Mouse & Rodent Books", "Children's Country Life Books",
       "Children's Jewelry Crafts", "Children's Canada Books",
       "Children's Media Tie-In Comics", "Children's ESL Books",
       "Children's Joke & Riddle Books", 'Typography',
       'Small Homes & Cottages', "Children's Diary Books",
       'Ghosts & Hauntings', 'Applique', 'Cultural Policy',
       'Experimental Education Methods', 'Wine & Spirits',
       'Personality Disorders', 'Photography',
       'Teen & Young Adult TV, Movie, Video Game Adaptations',
       'Handwriting Analysis Self-Help', 'Urban Legends Humor',
       'Professional High Quantity Cooking', 'Python Programming',
       'Stock Market Investing', 'Science Bibliographies & Indexes',
       'African American Science Fiction', 'Electrical Home Improvement',
       "Children's Science Experiment Books", 'Movie Industry',
       'Teen & Young Adult Advanced Placement Study Aids',
       "Children's Heavy Machinery Books", 'Media Tie-In Graphic Novels',
       'Nursing Assessment', 'Crocheting', "Children's Trains Books",
       'Literature Encyclopedias',
       'Comics & Manga Coloring Books for Grown-Ups',
       'Electrical & Electronics', 'PC Hardware', 'Math Games',
       'Christology', 'Communication Reference', 'Vocational Test Guides',
       "Children's Biography Comics", 'Security Design',
       "Children's Native American Books", 'Arms Control',
       'LGBT Coming of Age Fiction', 'Geology',
       "Children's General Humor Books", "Children's Learning Disorders",
       'Teen & Young Adult Ghost Stories', 'Children with Disabilities',
       'Cat, Dog & Animal Humor', 'Self Help for Catholics',
       'Development & Growth Economics',
       'Pacific Rim Cooking, Food & Wine', 'Natural Language Processing',
       'Internal Medicine', 'Mathematical Matrices',
       'Cape Cod Massachusetts Travel Books', 'Job Resumes',
       "Children's Asian & Asian American Books",
       'Social Sciences Research', 'Flowers in Biological Sciences',
       "Children's Literary Biographies",
       "Children's Christian People & Places Fiction",
       'Psychology Education & Training', 'History of Religions',
       'Rheumatic Diseases', "Children's Norse Literature",
       'Zombie Graphic Novels', "Children's Popular Music",
       'Charter Schools', 'Tablesetting & Cooking',
       'Pentecostal & Charismatic Christianity',
       "Children's Cycling Books", 'Sports Equipment & Supplies',
       'Special Education', 'Reproductive Medicine & Technology',
       'Doctors & Medicine Humor', 'Checkers Game',
       'Business School Guides', "Children's Muslim Fiction",
       "Children's Science of Light & Sound", 'Needlework',
       'Religious Intolerance & Persecution', 'Mystery Graphic Novels',
       'General Indiana Travel Guides', 'Hip & Thigh Workouts', 'Soccer',
       'Stenciling', 'Fish & Aquarium Care',
       'Communicative Disorders in Special Ed.', 'LGBT Graphic Novels',
       'Teen & Young Adult Christian Devotionals & Prayer',
       'Weight Training', 'Music Business', 'Atlases',
       'Law Dictionaries & Terminology', 'Dental Assisting',
       "Children's Maze Books", 'Southeast Asian Cooking, Food & Wine',
       'Rabbit Pet Care', 'House Plans',
       'Dark Horse Comics & Graphic Novels',
       'Teen & Young Adult Maturing', 'Cataloging',
       'Antique & Collectible Marbles', "Children's Papercrafts Books",
       'Nosology', 'Software Testing', 'Champagne', 'Palmistry',
       "Children's Asian Literature",
       'Computer Networks, Protocols & APIs', 'Enterprise Applications',
       'American Horror', 'Estimating How-to & Home Improvement',
       'Horse Care', 'Japanese Literature', 'Jewish Literary Criticism',
       'Computer Graphics', 'Italian History', 'Education Research',
       'Cisco Certification Guides', 'Philosophy Aesthetics',
       'LGBT Horror Fiction',
       'Teen & Young Adult History of Exploration & Discovery',
       'Copyright Law', 'Catalogs & Directories',
       'Olympic Peninsula Washington Travel Books', 'Agronomy',
       'Income Inequality', 'Interior Design Style',
       "Children's Middle East Books", 'Juggling',
       'Reptile & Amphibian Care',
       'Teen & Young Adult Peer Pressure Issues',
       "Children's Rap & Hip-Hop", 'Movie Adaptations',
       'Christian Bible Atlases', 'German Poetry',
       'Teen & Young Adult Fiction about Suicide',
       "Children's Fairy Tales, Folklore, Legends & Mythology Comics & Graphic Novels",
       'Inclusive Education Methods', "Children's Polar Regions Books",
       'Organometallic Compounds in Chemistry', 'Military Encyclopedias',
       'Physician Assistants', 'Irish Cooking, Food & Wine',
       'Animal Husbandry', 'The Beatles', 'Container Gardening',
       'Wok Cookery', 'Love, Sex & Marriage Humor', 'Diseases',
       'African Poetry', 'Oral Surgery',
       'Antique & Collectible Care & Restoration',
       'General Virginia Travel Guides', 'Anglican Christianity',
       'Chromatography Chemistry', 'Geometry',
       'Teen & Young Adult Atlases', 'Data Warehousing',
       'Transportation Industry', 'Instructional Sailing',
       'Mobile App Development & Programming', 'Out-of-Body Experiences',
       'Financial Auditing', 'Venezuelan History',
       'Adobe Illustrator Guides', 'Still Life Painting',
       'Dental Periodontics', "Children's Bead Crafts", 'Lyrics in Music',
       'Network Disaster & Recovery Administration', 'Communications Law',
       'Mathematics Research', "Children's Kwanzaa Books",
       'Mixed Collection Songbooks', 'Jainism', 'Linux Programming',
       'Computer Tablet Books', 'Radio Reference', 'Energy Policy',
       'Business Ethics', 'Obstetrics & Gynecology', 'Popular Dance',
       'Down Syndrome', 'Securities Law',
       'Medical Bibliographies & Indexes', 'Ottawa Travel Guides',
       'Vietnamese Cooking, Food & Wine', 'Polish Cooking, Food & Wine',
       'Paralegals & Paralegalism', 'Wine Cellars'], dtype=object)

### O que é uma função agregadora?

Uma função agregadora no pandas é uma função que combina múltiplos valores em um único valor. Por exemplo, funções como mean, sum, min, max, e count são todas funções agregadoras. Elas são frequentemente usadas com o método groupby para realizar cálculos em grupos de dados.

**Exemplos de funções agregadoras:

* sum( ): Calcula o somatório dos valores num agrupamento.
* median( ): Calcula a mediana dos valores num agrupamento.
* mim( ): Encontra o valor mínimo num agrupamento.
* max( ): Enconta o valor máximo num agrupamento. 
* count( ): Conta o número de valores não nulos num agrupamento

### Métodos Úteis.

### Groupby

O método .groupby( ) organiza o dataframe em grupos baseado no resultado de uma ou mais colunas e permite realizar funções agregadoras a um conjunto de dados.

In [23]:
# Para exemplificar vamos utilizar essa nova base de dados.

dados2 = pd.read_csv("supermarket_sales.csv")

display(dados2.head())

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [24]:
# O método . groupby() organiza o dataframe em grupos baseado baseado no resultado de uma ou mais colunas.

dados2.groupby("Payment")["Quantity"].count()

# Agrupamos pro método de pagamento e queremos saber a qauntidade vendida por tipo de método

Payment
Cash           344
Credit card    311
Ewallet        345
Name: Quantity, dtype: int64

In [26]:
# Mais um exemplo.

# O método groupby pode agrupar com base em mais de uma coluna.

dados2.groupby(["Product line", "Gender"])["Quantity"].count()

# Agrupamos por linha de produto e queremos saber a quantidade gasta por gênero.

Product line            Gender
Electronic accessories  Female    84
                        Male      86
Fashion accessories     Female    96
                        Male      82
Food and beverages      Female    90
                        Male      84
Health and beauty       Female    64
                        Male      88
Home and lifestyle      Female    79
                        Male      81
Sports and travel       Female    88
                        Male      78
Name: Quantity, dtype: int64

In [27]:
# Podemos também saber o total do faturamento por branch (cada uma das três cidades.)

dados2.groupby("City")["Total"].sum()

City
Mandalay     106197.6720
Naypyitaw    110568.7065
Yangon       106200.3705
Name: Total, dtype: float64

### Pivot Table

São úteis para lidar com grandes bases de dados. A pivot table é uma ferramenta de manipulaçção de dados que nos permite agrupar e reconfigurar dados em formato de tabela. O método nos permite agregar, analisar, visualizar rapidamente dados de um DataFrame.

Podemos construir uma pivot table a partir de:

* De um índex (Index).
* Colunas de interesse (Columns).
* Valores que queremos agregar(values)
* Função agregadora (aggfunc).

A partir de um pivot table é possível reconfigurar os dados de um DataFrame para descobrir a quantidade total de cada item vendido por cada vendedor de uma loja.

In [29]:
# Exemplo.

dados2.pivot_table(index="City", columns=["Product line", "Gender"], values="Total", aggfunc="sum")

Product line Electronic accessories           Fashion accessories              \
Gender                       Female      Male              Female        Male
City
Mandalay                  8166.5115  8884.932           9081.4920   7331.8245
Naypyitaw                 8969.2155  9999.759          11519.6865  10040.3835
Yangon                    9966.2955  8350.818           9836.2215   6496.2870

Product line Food and beverages             Health and beauty              \
Gender                   Female        Male            Female        Male
City
Mandalay             10509.9960   4704.8925         6400.3485  13580.3115
Naypyitaw            15661.1595   8105.6955         6445.7400  10169.5860
Yangon                6999.7620  10163.3385         5714.8980   6882.8550

Product line Home and lifestyle            Sports and travel
Gender                   Female       Male            Female        Male
City
Mandalay              9557.1315  7992.0330         9212.8155  10775.3835
Naypyitaw             7842.9330  6052.6200        11246.7285   4515.1995
Yangon               12636.8130  9780.3825         8115.1770  11257.5225

### Merge

pd.nerge(df1, df2, on = "nome_da_coluna")

É utilizada para unir dois ou mias DataFrame com base em colunas ou índices em comum, ou seja, unir múltiplas fontes em um único DataFrame com os dados de ambas as tabelas.